/* general */
body {
  background-color: var(--white);
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;
}

h1 {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem;
}

.highlight {
  color: var(--teal);
}

.bold {
  font-weight: 700;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.center {
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1600px;
}

#logs {
  margin-top: 4rem;
}

#no-logs {
  display: none;
  margin-top: 6rem;
  text-align: center;
}

/* buttons */
button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--teal);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
}

button img {
  width: 2rem;
  height: 2rem;
}

button:hover {
  text-decoration: underline;
}

button.light {
  background-color: var(--light);
  border: 1px solid var(--dark);
  color: black;
}

button.white {
  background-color: var(--white);
  border: 1px solid var(--teal);
  color: var(--teal);
}

/* header */
header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  position: fixed !important;
  top: 0;
  background: var(--white);
  padding-top: 1rem;
  z-index: 1;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.controls .logo {
  display: flex;
  align-items: center;
  justify-items: left;
  opacity: 0.8;
}

.controls .logo img {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

nav {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

nav ul li {
  cursor: pointer;
  opacity: 0.7;
  text-rendering: geometricPrecision;
}

nav ul li.active {
  font-weight: 600;
  opacity: 1;
}

nav ul li:hover {
  text-decoration: underline;
}

/* margins and paddings */
.mt-05 {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-15 {
  margin-top: 1.5rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.pl-2 {
  box-sizing: border-box;
  padding-left: 2rem;
}

#search {
  outline: none;
  padding: 0.5rem;
  border: 1px solid var(--light);
  font-size: 1rem;
}

#refresh,
#freeze {
  display: none;
}

/* table */
.table-header,
.row {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  row-gap: 1rem;
  align-items: center;
  justify-content: space-around;
}
.table-header {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  background-color: var(--dark);
  color: var(--white);
  margin-top: 0.5rem;
}

.table-header .col,
.row > :last-child {
  text-align: center;
}
.table-header > :first-child,
.row > :first-child {
  flex: 0 0 5rem;
  text-align: center;
}
.row > :nth-child(2) {
  flex: 0 0 auto;
  max-width: 35rem;
}
.row > :nth-child(3) {
  flex: 1 1 auto;
}
.table-header > :last-child,
.row > :last-child {
  flex: 0 0 5rem;
}

.row {
  height: 3rem;
  font-weight: 100;
  cursor: pointer;
  border-left: 2px solid transparent;
}

.row:hover {
  border-left: 2px solid;
  border-left-color: var(--dark);
}

.row:nth-child(odd) {
  background-color: var(--light);
}

.col {
  padding: 1rem;
  box-sizing: border-box;
}

.context {
  color: var(--dark);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.7rem;
  margin-top: -1rem;
}

.log-info {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1.2rem;
}

.date {
  font-size: small;
  color: var(--dark);
}

/* logs */
.log {
  color: var(--log);
}
.error {
  color: var(--error);
}
.warn {
  color: var(--warn);
}
.debug {
  color: var(--debug);
}
.verbose {
  color: var(--verbose);
}

/* popup */
#popup {
  position: fixed;
  display: none;
  box-sizing: border-box;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  border: 1px solid var(--light);
  top: 0;
  left: 30%;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  z-index: 1;
  opacity: 0.97;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* JSON viewer */
.key {
  font-size: 0.9rem;
}

.key span {
  color: var(--dark);
}

@media (max-width: 1620px) {
  header button {
    margin-right: 1rem;
  }

  .logo {
    margin-left: 1rem;
  }

  .logo h2 {
    display: none;
  }

  #popup {
    width: 100%;
    left: 0;
    box-shadow: none;
  }
}
